# First Notebook
This is my first notebook.
Copy of my_first_notebook from Google CoLab

In [1]:
2

2

In [2]:
#this is how we add 
#in Python
2 + 4 + 7

13

In [3]:
#subtraction
7 - 9

-2

In [4]:
#multiplication
4*5

20

In [5]:
#division
12/5

2.4

In [6]:
#exponents i.e. 2^4
2**4

16

In [7]:
#modular arithmetic
12%5

2

# Data Types in Python


*   integer
*   float
*   string (aka text)
*   boolean (aka true/false)

In [8]:
#integer is a whole number
7

7

In [9]:
#function that tells us what kind of thing an argument is
type(7)

int

In [10]:
#floats are decimals
12.5

12.5

In [11]:
type(12.5)

float

In [12]:
#Python is an object oriented language. the nature of an object determines the kinds of things that it can do

In [13]:
#strings in python are enclosed with either '' or "" 
# better to use "" because they enclose a string: ex "steve's"
"steve"

'steve'

In [14]:
type('steve')

str

In [15]:
type("steve")

str

In [16]:
#booleans start with a capital T or F
True

True

In [17]:
type(True)

bool

# Variables

In [18]:
a = 7

In [19]:
#you can operate on a variable just like on an original object
a + 8

15

In [20]:
type(a)

int

In [21]:
#we can write over variables
a = 'Steve is here again.'

In [22]:
type(a)

str

In [24]:
firstname = "Maya"

In [25]:
lastname = "Mitrasinovic"

In [26]:
firstname + lastname

'MayaMitrasinovic'

In [27]:
fullname = firstname + " " + lastname

In [28]:
fullname

'Maya Mitrasinovic'

In [29]:
type(fullname)

str

In [30]:
#if you type in the name of a string and a . and then click tab, it shows you string operations 
fullname.capitalize()

'Maya mitrasinovic'

In [31]:
#tab is used to complete things. It shows you things it thinks you might want to type

In [32]:
fullname.upper()

'MAYA MITRASINOVIC'

In [33]:
#will pull up help page, which tells you how to use that syntax
fullname.endswith?

In [34]:
fullname.endswith('r')

False

In [35]:
fullname.endswith('c')

True