# January 28: Notebook on Foundations

- Data Types
- Control Flow
- Functions

In [1]:
a = 7
b = 'football'
c = 10.4
d = False

In [2]:
#Show me what type of object each thing is?

In [5]:
type(a)

int

In [6]:
type(b)

str

In [7]:
type(c)

float

In [8]:
type(d)

bool

In [15]:
e = [3, 4, 'hi', 13.2]

In [16]:
type(e)

list

In [19]:
b*2 #if you multiply a string, it just repeats it

'footballfootball'

In [20]:
c*2

20.8

In [26]:
d*2 #if you multiply a FALSE, it prints 0. If you multiply a TRUE, it prints 1*(that number)

0

In [23]:
a = 7

In [24]:
a*2

14

In [28]:
a+c #you can add a float and int

17.4

In [30]:
c+d #you can add a float/int and a boolean. False=0, True=1

10.4

## Control Flow
- (in Markdown, use ` (left hand side key) for code)
- `if`
- `ifelse`

In [33]:
print('print something')

print something

In [34]:
print(7)

7

In [36]:
print('The value of a is {}'.format(a))

The value of a is 7

In [39]:
print('The value of a is {}'.format(7))

The value of a is 7

In [43]:
#Printing Variables
print('a is {} and b is {}'.format(a, b))

a is 7 and b is football

In [42]:
print('a is', a, 'and b is', b)

a is 7 and b is football

In [48]:
if a > 5: 
    print('A is bigger than 5')

A is bigger than 5

In [51]:
if a > 15: 
    print('A is bigger than 15')
else:
    print('A isn\'t bigger than 15')

A isn't bigger than 15

In [53]:
name = 'Maya'

In [61]:
# if else statement that prints whether or not your name starts with J
if name.startswith('j'):
    print("My name starts with J")
else:
    print("My name does not start with J")

My name does not start with J

In [69]:
# double equal signs (==) is a boolean check. AKA is a =7?
a == 7

True

In [65]:
if a==7:
    print("a is 7")

a is 7

In [66]:
if b == 8:
    print("B is 8")
else:
    print("B isn't 8")

B isn't 8

In [71]:
if b == 8:
    print("B is 8")
elif b == 10:
    print("B is 10")
else:
    print("B isn't 8 or 10")

B isn't 8 or 10

### Functions

f(input) = output

In [73]:
# defining a function:
def f(x): 
    return x**2

In [74]:
f(4)

16

In [75]:
f(3.2)

10.240000000000002

In [86]:
def name_start(name):
    ''' 
    This is a function that takes in a name
    and returns whether the name starts with J.
    '''
    ans = 0
    if name.startswith('J'):
        print("Yeah J is first")
    else:
        print("J isn't first")

In [87]:
name_start("Maya")

J isn't first

In [88]:
name_start("Jaya")

Yeah J is first