In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [44]:
#from a local file "week4"
!ls ../data/week4/

500_Cities__Census_Tract-level_Data__GIS_Friendly_Format___2017_release_.csv
Parking Meters GPS Coordinates and Status.geojson
dot_MUNIMETER_20190129.csv
gapminder_all.csv
gapminder_gdp_europe.csv
occupationGeneral.xlsx
university_voting.xlsx

In [39]:
df = pd.read_csv('../data/week4/dot_MUNIMETER_20190129.csv')

In [13]:
#info tells you what kind of stuff it is
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14763 entries, 0 to 14762
Data columns (total 6 columns):
the_geom     14763 non-null object
MeterNo      14763 non-null object
MeterType    14763 non-null object
LONG         14763 non-null float64
LAT          14763 non-null float64
Status       14763 non-null object
dtypes: float64(2), object(4)
memory usage: 692.1+ KB

In [14]:
#view the names of the columns
df.columns

Index(['the_geom', 'MeterNo', 'MeterType', 'LONG', 'LAT', 'Status'], dtype='object')

In [32]:
df.head()

,the_geom,MeterNo,MeterType,LONG,LAT,Status
0,POINT (-73.86517020266234 40.6770120488885),3773004,Strada,-73.865170,40.677012,Active
1,POINT (-73.9250406819429 40.76123920493658),4953003,Strada,-73.925041,40.761239,Active
2,POINT (-73.85479441192734 40.727926680024865),4173077,Strada,-73.854794,40.727927,Active
3,POINT (-73.8607626988616 40.73059678692016),4173097,Strada,-73.860763,40.730597,Active
4,POINT (-73.82577820994788 40.685706202413975),4293047,Strada,-73.825778,40.685706,Active

In [16]:
df.describe()

               LONG           LAT
count  14763.000000  14763.000000
mean     -73.932904     40.725884
std        0.071312      0.074437
min      -74.216047     40.523495
25%      -73.984803     40.675961
50%      -73.951731     40.737244
75%      -73.886544     40.763422
max      -73.700571     40.910093

In [17]:
import folium

In [26]:
#mapThing = pd.read_json('data/week4/Parking Meters GPS Coordinates and Status.geojson')

In [30]:
m = folium.Map(location = [df['LAT'][0], df['LONG'][0]])

In [31]:
m

In [46]:
voting = pd.read_excel('../data/week4/university_voting.xlsx')